{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 education-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
      <span id="{{ $sectionID }}"></span>{{ .section.name }}
    </h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
      <span id="{{ $sectionID }}"></span>{{ .section.name }}
    </h1>
  {{ end }}

  <div class="container">
    <table class="education-info-table">
      <tbody>
        {{ $count := len .degrees }}
        {{ range .degrees }}
        <tr>
          <td class="icon">
            {{ if gt $count 1 }}
            <div class="hline"></div>
            {{ end }}
            <div class="icon-holder">
              <i class="fas {{ .icon }}"></i>
            </div>
          </td>
          <td class="line">
            <div></div>
          </td>
          <td class="details">
            <div class="degree-info card">
              <div class="row">
                <div class="col-lg-10 col-md-8">
                  <h5>{{ .institution.name }}</h5>
                </div>
                <div class="timeframe col-lg-2 col-md-4">{{ .timeframe }}</div>
              </div>
              <h6>{{ .name }}</h6>

              {{ if .Description }}
              <div class="details">
                <h6 class="text-heading">Description:</h6>
                <ul>
                  {{ range .Description }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}

              {{ if .Skills }}
              <div class="skills-learned">
                <h6 class="text-heading">Skills Learned:</h6>
                <ul>
                  {{ range .Skills }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
              {{ end }}

            </div>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
